* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d89c9c; /* Red background color */
}

.container {
    text-align: center;
    max-width: 100%;
    padding: 30px;
    background-color: #a27373;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

h1 {
    color: #653535;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(136, 96, 96, 0.5);
}

video {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    h1 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
}


h1 {
    color: #bc536d;
    font-size: 2.5em;
    margin-bottom: 20px;
    animation: slideInDown 0.5s ease-in-out;
}

.card {
    margin-top: 20px;
    animation: popIn 1s ease-in-out;
}

.message {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
}



/* Add some keyframe animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

